{% load static %}
<html>
    <head>
        <title>Merchex</title>
        <link rel="stylesheet" href="{% static 'listings/styles.css' %}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head>
    <body style="background-color:grey">
        <form action="login" method="post">
        
            {% csrf_token %}
            
        
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.mail.errors }}
                <label style="width: 80px" for="{{ form.mail.id_for_label }}">Mail :</label>
                {{ form.mail }}
            </div>
            <div class="fieldWrapper">
                {{ form.password.errors }}
                <label  style="width: 80px" for="{{ form.password.id_for_label }}">Password :</label>
                {{ form.password }}
            </div>
            <input type="submit" value="Modifier ses informations">
        

    </form>
    </body>


</html>
